@page
@model DriveBotsWebsite.Pages.AdminModel
@{
    ViewData["Title"] = "Applicant Dashboard";
   
}
<body>
    <div class="container">
        <div class="sidebar">
            <a href="Applicant.cshtml">Home</a>
            <a href="Applicantapplication.cshtml">Applications</a>
            <a href="Appointment.cshtml">Appointment</a>
            <a href="Payment.cshtml">Payment</a>
            <a href="AdminSettings.cshtml">Settings</a>
        </div>

    

        <div class="main">
            <header>
                <h1>Welcome, Admin</h1>
                <p>Here's a quick overview of current activity.</p>
            </header>

            <div class="cards">
                <div class="card">
                    <h3>Total Applications</h3>
                    <p>3</p>
                </div>
                <div class="card">
                    <h3>Pending Approvals</h3>
                    <p>213</p>
                </div>
                <div class="card">
                    <h3>Transactions Today</h3>
                    <p>74</p>
                </div>
                <div class="card">
                    <h3>Approved Applications</h3>
                    <p>467</p>
                </div>
            </div>
        </div>
    </div>
</body>